.main-content{
    padding-top: 50px;
    overflow-x: hidden;
}

.main-content__container{
    display: flex;
    position: relative;
}

@media screen and (max-width: 1113px){
    .main-content{
        overflow-x: unset;
    }
}

@media screen and (max-width: 671px){
    .main-content{
        padding-top: 25px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0;
    }
}